*{
    text-align:center;
    box-sizing: border-box;
}
img{
    width: 30%;
    border: solid black 3px;
}
video {
    width:30%;
}
ul {
    list-style:none;
}
#quiz-container {
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
height:100vh;
}