*{
    text-align:center;
    box-sizing: border-box;
}
#title{
    background-color: rgba(00,00,00,0.5);
}
#cover{
    width:100vw;
    height:100vh;
    border:1rem white double;

    background-color: #777;
    background: radial-gradient(circle, rgba(119,119,119,1) 0%, rgba(0,0,0,1) 100%); 

    z-index: 1;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
}

#drop , #drop::before, #drop::after {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}
#drop {
    background-color: black;
    background: radial-gradient(circle, rgba(119,119,119,1) 0%, rgba(0,0,0,1) 100%); 
    width: 250px;
    height: 250px;
    position: fixed;
    text-align: center;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #aaa;
    border-radius: 50%;
    overflow: hidden;}
    
#drop::after {
    content: '';
    width: 200px;
    height: 200px;
    position: absolute;
    top: 23px;
    left: 23px;
    border: 1px solid #aaa;
    border-radius: 50%;
    background: #777;
    background-image:
        linear-gradient(transparent calc(50% - 1px), #aaa calc(50% - 1px), #aaa calc(50% + 1px), transparent calc(50% + 1px)),
        linear-gradient(90deg, transparent calc(50% - 1px), #aaa calc(50% - 1px), #aaa calc(50% + 1px), transparent calc(50% + 1px));
}  
.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 125px;
    height: 100px;
    transform-origin: 0 0;
    background-image: linear-gradient(black, transparent);
    animation: spin 1s infinite linear;}
    
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(-360deg); }
}
.number {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
}
.number::after {
    content: '';
    width: 250px;
    height: 250px;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 150px;
    line-height: 250px;
    animation: count 3s steps(4, start);
}
@keyframes count {
    0% { content: '3'; }
    48% { content: '2'; }
    96% { content: '1'; }
    100%{content:'0'; }
}


@media (max-width: 600px) {
    #cover {
        font-size: small;
    }
    button{
        width: 20%;
        height:10%
    }
}
/*
#letsGo{
    width:30%;
    height: 15%;
}
*/

#cover p {
    color: white;
    margin: 0;
    padding: 1rem;
    background-color: black;
}

#cover h1 {
    margin: 0;
    padding: 1rem;
    font-size: 3rem;
}

#cover button {
    margin-top: 34vh;
    padding:1.5rem;
    font-weight: bold;
    opacity: 0;
    animation: fadeIn 1s ease-in-out 4s forwards;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}


/*.video-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .countdown-video {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        z-index: 0;
        overflow: hidden;
    }*/




ul {
    list-style:none;
}    

body{
    background-color: black;
    color: white;
    font-family: monospace;
    font-size: 22px;
}
  
#quiz-container {
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.questionContainerClass {
    display:flex;
    height:97vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;
    width: 97vw;
}

.questionContainerClass:nth-of-type(7) {
    border-bottom: none;
}

 h1 {
font-family: 'Gillalo', sans-serif;
color: white;
background-color: black;
font-size: 6em;
 }

options {
    display: flex;
    flex-direction: column;
    position:relative;
    cursor:pointer;
    font-size: 18px;


}

li.option {
    display:flex;
    align-items: center;
    cursor: pointer;
    appearance: auto;
    box-sizing: border-box;
    padding: initial;
    border: initial;
}

.curtain {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #711324; /* Set the color of your curtains */
    animation: undrawCurtains 2s forwards; /* Adjust the duration as needed */
}

@keyframes undrawCurtains {
    0% {
        height: 100%;
    }
    100% {
        height: 0;
    }
}
img{
    width: 30%;
    border: solid white 3px;
}
video {
    width:30%;
}

.nextAndSubmitBtn {
    margin-top: 2rem;
    padding: 0.5rem;
    text-transform: uppercase;
    font-weight: bold;
}

.labelClass {
    margin-top: 0.75rem;
}

#resetBtn {
    display: block;
    margin-top: 2rem;
    padding: 0.5rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 50vw;
}

h1 {
    margin: 0;
}

@media (max-width: 425px) {
    #cover button{
        margin-top: 75%;
        font-size: 0.75rem;
        padding: 0.8rem;
    }
    .nextAndSubmitBtn {
        font-size: 0.75rem;
        border-radius: 20%;
    }
    img {
        width:100%;
    }
    video {
        width:100%;
    }
    h1 {
        font-size: 2rem;
    }
    p {
        font-size: 1rem;
    }
    #resetBtn {
        margin-left:40vw;
    }
}